﻿@model ZavrsniRad1.Models.Kolokviji

@{
    ViewBag.Title = "Detalji";
}

<h2>Details</h2>

<div>
    @*<h4>Kolokviji</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KolokvijDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolokvijDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolokvijStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolokvijStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KolokvijTekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KolokvijTekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolegiji.Kolegij)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predavači.Titula)
            @Html.DisplayFor(model => model.Predavači.Ime)
            @Html.DisplayFor(model => model.Predavači.Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Urediti", "Edit", new { id = Model.KolokvijID }) |
    @Html.ActionLink("Povratak na listu kolokvija", "Index")
</p>
