﻿@model ZavrsniRad1.Models.Kolokviji

@{
    ViewBag.Title = "Urediti";
}

<h2>Urediti kolokvij</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Kolokviji</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KolokvijID)

        <div class="form-group">
            @Html.LabelFor(model => model.KolegijID, "Kolegij", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KolegijID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KolegijID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavačID, "Predavač", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PredavačID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PredavačID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KolokvijDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KolokvijDatum, new { htmlAttributes = new { @class = "form-control", id = "date-picker" } })
                @Html.ValidationMessageFor(model => model.KolokvijDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KolokvijStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KolokvijStart, new { htmlAttributes = new { @class = "form-control", id = "time-picker" } })
                @Html.ValidationMessageFor(model => model.KolokvijStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KolokvijTekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KolokvijTekst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KolokvijTekst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremiti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu kolokvija", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#date-picker').datepicker({
            dateFormat: 'yy-mm-dd'

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#time-picker').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            //minTime: '10',
            //maxTime: '6:00pm',
            defaultTime: '8',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
</script>