﻿@model IEnumerable<ZavrsniRad1.Models.Kolokviji>

@{
    ViewBag.Title = "Kolokvij";
}

<h2>Kolokviji</h2>

<p>
    @Html.ActionLink("Dodaj novi kolokvij", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KolokvijDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KolokvijStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KolokvijTekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KolokvijDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KolokvijStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KolokvijTekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolegiji.Kolegij)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predavači.Titula)
            @Html.DisplayFor(modelItem => item.Predavači.Ime)
            @Html.DisplayFor(modelItem => item.Predavači.Prezime)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.KolokvijID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.KolokvijID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.KolokvijID })
        </td>
    </tr>
}

</table>
