﻿@model ZavrsniRad1.Models.Predavanja

@{
    ViewBag.Title = "Novo predavanje";
}

<h2>Dodavanje novog predavanja</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Predavanja</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PredavačID, "Predavač", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PredavačID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PredavačID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KolegijID, "Kolegij", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KolegijID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KolegijID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavanjeDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PredavanjeDatum, new { htmlAttributes = new { @class = "form-control", id = "date-picker" } })
                @Html.ValidationMessageFor(model => model.PredavanjeDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavanjePočetak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PredavanjePočetak, new { htmlAttributes = new { @class = "form-control", id = "time-picker" } })
                @Html.ValidationMessageFor(model => model.PredavanjePočetak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavanjeKraj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PredavanjeKraj, new { htmlAttributes = new { @class = "form-control", id = "time-picker2" } })
                @Html.ValidationMessageFor(model => model.PredavanjeKraj, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavanjeTekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PredavanjeTekst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PredavanjeTekst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu predavanja", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#date-picker').datepicker({
            dateFormat: 'yy-mm-dd'

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#time-picker').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            //minTime: '10',
            //maxTime: '6:00pm',
            defaultTime: '8',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#time-picker2').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            //minTime: '10',
            //maxTime: '6:00pm',
            defaultTime: '9',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
</script>
