﻿@model ZavrsniRad1.Models.Predavanja

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji predavanja</h2>

<div>
    @*<h4>Predavanja</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PredavanjeDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredavanjeDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredavanjePočetak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredavanjePočetak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredavanjeKraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredavanjeKraj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PredavanjeTekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PredavanjeTekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolegiji.Kolegij)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predavači.Titula)
            @Html.DisplayFor(model => model.Predavači.Ime)
            @Html.DisplayFor(model => model.Predavači.Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Urediti", "Edit", new { id = Model.PredavanjeID }) |
    @Html.ActionLink("Povratak na listu predavanja", "Index")
</p>
