﻿@model IEnumerable<ZavrsniRad1.Models.Predavanja>

@{
    ViewBag.Title = "Predavanja";
}

<h2>Predavanja</h2>

<p>
    @Html.ActionLink("Dodaj novo predavanje", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PredavanjeDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredavanjePočetak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredavanjeKraj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredavanjeTekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PredavanjeDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredavanjePočetak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredavanjeKraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredavanjeTekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolegiji.Kolegij)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predavači.Titula)
            @Html.DisplayFor(modelItem => item.Predavači.Ime)
            @Html.DisplayFor(modelItem => item.Predavači.Prezime)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.PredavanjeID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.PredavanjeID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.PredavanjeID })
        </td>
    </tr>
}

</table>
