﻿@model ZavrsniRad1.Models.Ispiti

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji ispita</h2>

<div>
    @*<h4>Ispiti</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IspitDatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IspitDatum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IspitPočetak)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IspitPočetak)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IspitTekst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IspitTekst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolegiji.Kolegij)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predavači.Titula)
            @Html.DisplayFor(model => model.Predavači.Ime)
            @Html.DisplayFor(model => model.Predavači.Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Urediti", "Edit", new { id = Model.IspitID }) |
    @Html.ActionLink("Povratak na listu ispita", "Index")
</p>
