﻿@model ZavrsniRad1.Models.Ispiti

@{
    ViewBag.Title = "Urediti";
}

<h2>Uredite ispit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@*Ispiti*@</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IspitID)

        <div class="form-group">
            @Html.LabelFor(model => model.KoelegijID, "Koelegij", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KoelegijID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KoelegijID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PredavačID, "Predavač", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PredavačID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PredavačID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IspitDatum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IspitDatum, new { htmlAttributes = new { @class = "form-control", id = "date-picker" } })
                @Html.ValidationMessageFor(model => model.IspitDatum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IspitPočetak, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IspitPočetak, new { htmlAttributes = new { @class = "form-control", id = "time-picker" } })
                @Html.ValidationMessageFor(model => model.IspitPočetak, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IspitTekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IspitTekst, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IspitTekst, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremiti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu ispita", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#date-picker').datepicker({
            dateFormat: 'yy-mm-dd'

        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#time-picker').timepicker({
            timeFormat: 'HH:mm',
            interval: 15,
            //minTime: '10',
            //maxTime: '6:00pm',
            defaultTime: '8',
            startTime: '8:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });
</script>