﻿@model IEnumerable<ZavrsniRad1.Models.Ispiti>

@{
    ViewBag.Title = "Ispiti";
}

<h2>Ispiti</h2>

<p>
    @Html.ActionLink("Dodaj novi ispit", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IspitDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IspitPočetak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IspitTekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolegiji.Kolegij)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IspitDatum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IspitPočetak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IspitTekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolegiji.Kolegij)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predavači.Titula)
            @Html.DisplayFor(modelItem => item.Predavači.Ime)
            @Html.DisplayFor(modelItem => item.Predavači.Prezime)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.IspitID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IspitID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.IspitID })
        </td>
    </tr>
}

</table>
