﻿@model ZavrsniRad1.Models.Kolegiji

@{
    ViewBag.Title = "Obrisati";
}

<h2>Obrisati kolegij</h2>

<h3>Da li ste sigurni da želite obrisati?</h3>
<div>
    @*<h4>Kolegiji</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolegij)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolegij)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kratica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predavači.Titula)
            @Html.DisplayFor(model => model.Predavači.Ime)
            @Html.DisplayFor(model => model.Predavači.Prezime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisati" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu kolegija", "Index")
        </div>
    }
</div>
