﻿@model ZavrsniRad1.Models.Kolegiji

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji kolegija</h2>

<div>
    @*<h4>Kolegiji</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolegij)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolegij)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kratica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predavači.Titula)
            @Html.DisplayFor(model => model.Predavači.Ime)
            @Html.DisplayFor(model => model.Predavači.Prezime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Urediti", "Edit", new { id = Model.KolegijID }) |
    @Html.ActionLink("Povratak na listu kolegija", "Index")
</p>
