﻿@model IEnumerable<ZavrsniRad1.Models.Kolegiji>

@{
    ViewBag.Title = "Kolegiji";
}

<h2>Kolegiji</h2>

<p>
    @Html.ActionLink("Dodaj novi kolegij", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolegij)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kratica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predavači.PredavačID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolegij)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kratica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predavači.Titula)
            @Html.DisplayFor(modelItem => item.Predavači.Ime)
            @Html.DisplayFor(modelItem => item.Predavači.Prezime)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.KolegijID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.KolegijID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.KolegijID })
        </td>
    </tr>
}

</table>
