﻿@model ZavrsniRad1.Models.Predavači

@{
    ViewBag.Title = "Obrisati";
}

<h2>Obrisati predavača</h2>

<h3>Da li ste sigurni da želite obrisati?</h3>
<div>
    @*<h4>Predavači</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titula)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisati" class="btn btn-default" /> |
            @Html.ActionLink("Povratak na listu predavača", "Index")
        </div>
    }
</div>
