﻿@model ZavrsniRad1.Models.Predavači

@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji predavača</h2>

<div>
    @*<h4>Predavači</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Urediti", "Edit", new { id = Model.PredavačID }) |
    @Html.ActionLink("Povratak na listu predavača", "Index")
</p>
