﻿@model ZavrsniRad1.Models.Predavači

@{
    ViewBag.Title = "Urediti";
}

<h2>Uredite predavača</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@*Predavači*@</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PredavačID)

        <div class="form-group">
            @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prezime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titula, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Titula, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownList("Titula", new List<SelectListItem>
                   {
                       new SelectListItem {Text = "redoviti prof. dr. Sc", Value = "redoviti prof. dr. Sc" },
                       new SelectListItem {Text = "izvanredan prof. dr. Sc", Value = "izvanredan prof. dr. Sc" },
                       new SelectListItem {Text = "doc. dr. sc ", Value = "doc. dr. sc " },
                       new SelectListItem {Text = "viši asistent", Value = "viši asistent" },
                       new SelectListItem {Text = "znanstveni asistent", Value = "znanstveni asistent" },
                       new SelectListItem {Text = "znanstveni novak", Value = "znanstveni novak" },
                       new SelectListItem {Text = "vanjski suradnik", Value = "vanjski suradnik" },
                       new SelectListItem {Text = "viši predavač", Value = "viši predavač" }
                   }, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremiti" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu predavača", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
