﻿@model IEnumerable<ZavrsniRad1.Models.Predavači>

@{
    ViewBag.Title = "Predavači";
}

<h2>Predavači</h2>

<p>
    @Html.ActionLink("Dodaj predavača", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titula)
        </td>
        <td>
            @Html.ActionLink("Urediti", "Edit", new { id=item.PredavačID }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.PredavačID }) |
            @Html.ActionLink("Obrisati", "Delete", new { id=item.PredavačID })
        </td>
    </tr>
}

</table>
